<h1>{{title}}</h1>
<h3>Ignacio de la Cuba - PC2</h3>
<h1> Estudiantes</h1>
    <p >
        <div class="container">
            <h3><a href="/estudiantes/create">Crear Estudiante</a></h3>
            <h1>Lista de Estudiantes</h1>
            {{#if estudiantes }}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Edad</th>
                            <th>Pais</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{# each estudiantes }}
                        <tr>
                            <td><a href="/estudiantes/show/{{ _id }}">{{ codigo }}</a></td>
                            <td>{{ nombre }}</td>
                            <td>{{ apellido }}</td>
                            <td>{{ email }}</td>
                            <td>{{ edad }}</td>
                            <td>{{ pais }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{~^~}}
                <div>Estudiantes no encontrados.</div>
            {{/if}}
        </div>
    </p>